@page "/menuoverview"


<h3>MenuOverView</h3>


<QuickViewPopup MenuItem="_selectedMenuItem"></QuickViewPopup>

@if (Menu == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <div class="row">
        @foreach (var menuItem in Menu.MenueItems)
        {
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2">
                <ErrorBoundary>
                    <ChildContent>
                        <MenuItemCard MenuItem="menuItem" MenuItemQuickView="ShowQuickViewPopUp"></MenuItemCard>
                    </ChildContent>
                    <ErrorContent>
                        <p class="errorUI">Invalid menu!</p>
                    </ErrorContent>
                </ErrorBoundary>
            </div>
        }
    </div>
}